@import '';

/* /Pages/index.razor.rz.scp.css */

h3[b-4lzu1w7f01] {
    color: mediumpurple;
}
/* /Shared/MainLayout.razor.rz.scp.css */
nav[b-5mb71cu944] {
    background-color: #a593c2;
    border-color: #a593c2;
}

#navbarSupportedContent[b-5mb71cu944] {
    height: 80px;
}

.navbar[b-5mb71cu944] {
    padding: 0;
}

.container-fluid[b-5mb71cu944] {
    padding: 25px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
#logo[b-thcm2l9sr1] {
    width: 80%;
}


.sidebar-logo[b-thcm2l9sr1] {
    height: 80px;
    background-color: #a593c2;
    border-color: #a593c2;
    width: 240px;
}


.menu[b-thcm2l9sr1] {
    position: absolute;
    margin-top: 240px;
}
