nav[b-5mb71cu944] {
    background-color: #a593c2;
    border-color: #a593c2;
}

#navbarSupportedContent[b-5mb71cu944] {
    height: 80px;
}

.navbar[b-5mb71cu944] {
    padding: 0;
}

.container-fluid[b-5mb71cu944] {
    padding: 25px;
}
