#logo[b-thcm2l9sr1] {
    width: 80%;
}


.sidebar-logo[b-thcm2l9sr1] {
    height: 80px;
    background-color: #a593c2;
    border-color: #a593c2;
    width: 240px;
}


.menu[b-thcm2l9sr1] {
    position: absolute;
    margin-top: 240px;
}
