@inherits BenefitSelectorBase;

@if (Benefits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th class="w-auto">Benefit</th>
                    <th class="w-25">Start Date</th>
                    <th class="w-25">End Date</th>

                </tr>
                @foreach (var benefit in Benefits)
                {
                    <BenefitRow Benefit="benefit" OnPremiumToggle="() => CheckBoxChanged()"/>
                }
            </table>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-primary" disabled="@SaveButtonDisabled"
                    @onclick="SaveClick">
                Save
            </button>
        </div>
    </div>
}