@inherits BenefitSelectorBase;
@using BethanysPieShopHRM.Shared;

@if (Benefits == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-8">
            <TableTemplate Items="Benefits" TItem="BenefitModel" IsSmall="true">
                <TableHeader>
                    <th class="w-auto">Benefit</th>
                    <th class="w-25">Start Date</th>
                    <th class="w-25">End Date</th>

                </TableHeader>
                    <RowTemplate Context="benefit">
                        <BenefitRow Benefit="@benefit" OnPremiumToggle="() => CheckBoxChanged()" />
                    </RowTemplate>
            </TableTemplate>
        </div>
        <div class="col-md-4 mt-1">
            <button class="btn btn-primary" disabled="@SaveButtonDisabled"
                    @onclick="SaveClick">
                Save
            </button>
        </div>
    </div>
}