@inherits ProfilePictureBase

<div class="profile">
    <div class="profile-bg">
        <img class="img-responsive" src="images/profilePicture.jpg" />
    </div>
    <div class="profile-picture">
        <img class="img-responsive @CssClass account-photo" src="images/profilePicture.jpg" />
    </div>
</div>
